* {
    box-sizing: border-box;
}



/*BODY*/
body {
    margin: 0 auto;
    background-color: rgb(243, 243, 243);
    font-family: "Open Sans", sans-serif;
}



/* HEADER */
header {
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

h1 {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

input {
    width: 190px;
    padding: .5rem;
    border: 1.5px solid lightgray;
    border-radius: 7px;
    background-color: white;
}

input:focus {
    border: 2px solid black;
}

input::placeholder {
    color: rgb(199, 199, 199);
    font-style: italic;
}



/* MAIN */
main {}

span {
    font-size: 1rem;
}



/* EMPLOYEE DIV */
.employee-card {
    background-color: white;
}

.employee-card img {}

h2 {
    font-size: 1.3rem;
}

span .employee-email {}

span .employee-city {}


/* EMPLOYEE COUNT */
.employee-one {}

.employee-two {}

.employee-three {}

.employee-four {}

.employee-five {}

.employee-six {}

.employee-seven {}

.employee-eight {}

.employee-nine {}

.employee-ten {}

.employee-eleven {}

.employee-twelve {}



/* MODAL DIV */
.modal {
    display: none;
    background-color: white;
}

.modal img {}

h3 {}

span .modal-email {}

span .modal-city {}

span .modal-number {}

span .modal-address {}

span .modal-bday {}


/* MOD COUNT */
.mod-one {}

.mod-two {}

.mod-three {}

.mod-four {}

.mod-five {}

.mod-six {}

.mod-seven {}

.mod-eight {}

.mod-nine {}

.mod-ten {}

.mod-eleven {}

.mod-twelve {}

