* {
    box-sizing: border-box;
}



/*BODY*/
body {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}



/* HEADER */
header {}

h1 {}

input {}



/* MAIN */
main {}



/* EMPLOYEE DIV */
.employee-card {}

.employee-card img {}

h2 {}

span .employee-email {}

span .employee-city {}


/* EMPLOYEE COUNT */
.employee-one {}

.employee-two {}

.employee-three {}

.employee-four {}

.employee-five {}

.employee-six {}

.employee-seven {}

.employee-eight {}

.employee-nine {}

.employee-ten {}

.employee-eleven {}

.employee-twelve {}



/* MODAL DIV */
.modal {
    display: none;
}

.modal img {}

h3 {}

span .modal-email {}

span .modal-city {}

span .modal-number {}

span .modal-address {}

span .modal-bday {}


/* MOD COUNT */
.mod-one {}

.mod-two {}

.mod-three {}

.mod-four {}

.mod-five {}

.mod-six {}

.mod-seven {}

.mod-eight {}

.mod-nine {}

.mod-ten {}

.mod-eleven {}

.mod-twelve {}

